<!doctype html>
<html lang="en">
<head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
        .emptyMessage {
            font-weight: bold;
            color: red;
            font-size: 1.2em;
        }

        li {
            margin-bottom: 7px;
            font-size: 1.2em;
        }

        li > button {
            margin-left: 6px;
        }

        button > span {
            color: green;
        }
    </style>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body>
<div ng-app="ShoppingList" class="container">
    <h1>Shopping List Check Off</h1>


    <!-- To Buy List -->
    <div class="row" ng-controller="ToBuyShoppingController as toBuy">

        <label for="itemName">Name:</label>
        <input ng-model="toBuy.itemName" type="text" class="form-control" id="itemName">


        <label for="itemQuantity">Quantity:</label>
        <input ng-model="toBuy.itemQuantity" type="text" class="form-control" id="itemQuantity">

        <button ng-click="toBuy.addItem()" class="btn btn-default">Add Item</button>
    </div>
    <div class="row">
        <div class="col-md-5" ng-controller="ToBuyShoppingController as toBuy">

            <h2>To Buy:</h2>
            <ul class="list-group" ng-repeat="item in toBuy.toBuyList">
                <li class="row list-group-item">
                    <div class="col-md-4">{{item.name}} {{item.quantity}}</div>
                    <button ng-click="toBuy.boughtButton($index)" class="btn btn-default col-md-3"><span
                            class="glyphicon glyphicon-ok"></span> Bought
                    </button>
                    <button ng-click="toBuy.removeItem($index)" class="btn btn-default col-md-4"><span
                            class="glyphicon glyphicon-remove"></span> Remove Item
                    </button>
                </li>
            </ul>
            <div ng-if="toBuy.isEmpty()" class="emptyMessage">Everything is bought!</div>

        </div>
        <div class="col-md-2"></div>

        <!-- Already Bought List -->
        <div class="col-md-5" ng-controller="AlreadyBoughtShoppingController as alreadyBought">
            <h2>Already Bought:</h2>
            <ul class="list-group" ng-repeat="item in alreadyBought.alreadyBoughtList">
                <li class="row list-group-item">
                    <div class="col-md-5">{{item.name}} {{item.quantity}}</div>
                    <button ng-click="alreadyBought.cancelItem($index)" class="btn btn-default col-md-5"><span
                            class="glyphicon glyphicon-remove"></span> Cancel
                    </button>
                </li>
            </ul>
            <div ng-if="alreadyBought.isEmpty()" class="emptyMessage">Nothing bought yet.</div>
        </div>
    </div>
</div>
</div>

</body>
</html>
